{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Search" %} | SwitchDeck{% endblock %}

{% block content %}
<form class="" action="{% url 'lot:search' %}" method="post">
      {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" name="submit" class="btn btn-primary">
</form>

{% if search_posted == True %}
  {% if no_game %}
    <p>{% trans "You typed not exisiting game name" %}: <strong>{{ no_game }}</strong>.</p>
  {% elif all_game %}
    <p>{% trans "You picked" %} <strong>{% trans "all" %} </strong> {% trans "games" %}.</p>
  {% elif game %}
    <p>{% trans "Your picked" %} {% trans "game" %}: <strong>
      <a href="{{ game.get_absolute_url }}">
        {{ game.name }}
      </a>
    </strong>.</p>
  {% endif %}

  {% if no_place %}
    <p>{% trans "You typed not exisiting place" %}: <strong>{{ no_game }}</strong>.</p>
  {% elif all_place %}
    <p>{% trans "You picked" %} <strong>{% trans "all" %}</strong> {% trans "places" %}.</p>
  {% elif place %}
    <p>{% trans "Your picked" %} {% trans "place" %}: <strong>
      <a href="{{ place.get_absolute_url }}">
        {{ place.name }}
      </a>
    </strong>.</p>
  {% endif %}
  <p>{% trans "Proposition" %}: <strong>
    {% if prop == 's' %}
      sell
    {% elif prop == 'b' %}
      buy
    {% else %}
      all
    {% endif %}
  </strong></p>
  <p>{% trans "Results" %}: {{ lots.count }}</p>
  {% if lots.count > 0 %}
    {% for lot in lots %}
      {% include "switchdeck/_lot_card.html" %}
    {% endfor %}
  {% else %}
    <p>{% trans "Sorry, but no results. Try again." %}</p>
  {% endif %}
{% endif %}


<script>
  document.getElementById("search-nav-item").classList.add("active")
</script>
{% endblock %}
