{% extends "switchdeck/_base.html" %}
{% load i18n %}

{% block title %}{{ userprof.get_username }} | {% trans "Profile" %} | SwitchDeck{{ userprof.get_username }} {% endblock %}

{% block admin_link %}<li>
  <a class="btn btn-outline-danger"
    href="{% url 'admin:switchdeck_user_change' userprof.id%}">
    {% trans "Change on admin site" %}
  </a>
</li>
{% endblock %}

{% block content %}

<h1>{{ userprof.username }}</h1>
{% if userprof.get_full_name %}
<p>{{ userprof.get_full_name }}</p>
{% endif %}
<p>from <a href="{% url 'place' name=userprof.profile.place.name %}">
  {{ userprof.profile.place.name|title }}
</a></p>

{% if user.is_authenticated and user == userprof %}
<p><a href="{% url 'update_profile' %}">
  {% trans "Update" %} {% trans "profile" %}
</a></p>
{% endif %}

{% if user.is_authenticated and user == userprof %}
<!-- Add game href -->
<p><a href="{% url 'add_game_keep' %}">Add keep game</a></p>
<p><a href="{% url 'add_game_wish' %}">Add wish game</a></p>
{% endif %}


{% if keep_list %}
<h3>Keep list</h3>
<div class="row">
  {% for lot in keep_list %}
  <div class="col-md-3">
    <div class="card">
      {% if lot.game.cover %}
      <img src="{{ lot.game.cover.url }}"
        alt="{{ lot.game.name }} {% trans 'cover' %}"
        class="card-img-top"
        href="{{ lot.game.get_absolute_url }}">
      {% endif %}
      <div class="card-body">
        <p class="card-text">
          <a href="{{ lot.game.get_absolute_url }}">
            {{ lot.game.name }}
          </a>
          {% if lot.prop == 's' %}<span class="badge badge-secondary">
            {% trans "for sell" %}
          </span>{% endif %}
          {% if not lot.active %}<span class="badge badge-warning">
            {% trans "inactive" %}
          </span> {% endif %}
        </p>
        <a href="{{ lot.get_absolute_url }}" class="btn btn-primary">
          {% trans "View more" %}
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

{% if wish_list %}
<h3>Wish list</h3>
<div class="row">
  {% for lot in wish_list %}
  <div class="col-md-3">
    <div class="card">
      {% if lot.game.cover %}
      <img src="{{ lot.game.cover.url }}"
        alt="{{ lot.game.name }} {% trans 'cover' %}"
        class="card-img-top"
        href="{{ lot.game.get_absolute_url }}">
      {% endif %}
      <div class="card-body">
        <p class="card-text">
          <a href="{{ lot.game.get_absolute_url }}">
            {{ lot.game.name }}
          </a>
          {% if lot.prop == 'b' %}<span class="badge badge-secondary">
            {% trans "ready to buy" %}
          </span>{% endif %}
          {% if not lot.active %}<span class="badge badge-warning">
            {% trans "inactive" %}
          </span> {% endif %}
        </p>
        <a href="{{ lot.get_absolute_url }}" class="btn btn-primary">
          {% trans "View more" %}
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

{% if sell_list %}
<h3>Sell list</h3>
<div class="row">
  {% for lot in sell_list %}
  <div class="col-md-3">
    <div class="card">
      {% if lot.game.cover %}
      <img src="{{ lot.game.cover.url }}"
        alt="{{ lot.game.name }} {% trans 'cover' %}"
        class="card-img-top"
        href="{{ lot.game.get_absolute_url }}">
      {% endif %}
      <div class="card-body">
        <p class="card-text">
          <a href="{{ lot.game.get_absolute_url }}">
            {{ lot.game.name }}
          </a>
          {% if not lot.active %}<span class="badge badge-warning">
            {% trans "inactive" %}
          </span>{% endif %}
        </p>
        <a href="{{ lot.get_absolute_url }}" class="btn btn-primary">
          {% trans "View more" %}
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

{% if buy_list %}
<h3>Buy list</h3>
<div class="row">
  {% for lot in buy_list %}
  <div class="col-md-3">
    <div class="card">
      {% if lot.game.cover %}
      <img src="{{ lot.game.cover.url }}"
        alt="{{ lot.game.name }} {% trans 'cover' %}"
        class="card-img-top"
        href="{{ lot.game.get_absolute_url }}">
      {% endif %}
      <div class="card-body">
        <p class="card-text">
          <a href="{{ lot.game.get_absolute_url }}">
            {{ lot.game.name }}
          </a>
          {% if not lot.active %}<span class="badge badge-warning">
            {% trans "inactive" %}
          </span>{% endif %}
        </p>
        <a href="{{ lot.get_absolute_url }}" class="btn btn-primary">
          {% trans "View more" %}
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

{% if user.is_authenticated and user == userprof %}
<!-- User navigation highlighting-->
<script>
  document.getElementById("user-nav-item").classList.add("active")
</script>
{% endif %}

{% endblock %}
