{% extends "switchdeck/_base.html" %}

{% block title %}SwitchDeck profile: {{ userprof.get_username }} {% endblock %}

{% block admin_link %}<li>
  <a class="btn btn-outline-danger" href="{% url 'admin:switchdeck_user_change' userprof.id%}">
    Change on admin site
  </a>
</li>
{% endblock %}

{% block content %}

<h1>{{ userprof.username }}</h1>
{% if userprof.get_full_name %}
<p>{{ userprof.get_full_name }}</p>
{% endif %}
<p>from <a href="{% url 'place' name=userprof.profile.place.name %}">{{ userprof.profile.place.name|title }}</a></p>

{% if user.is_authenticated and user == userprof %}
<p><a href="{% url 'update_profile' username=userprof.get_username %}">Update profile</a></p>
{% endif %}

{% if user.is_authenticated and user == userprof %}
<!-- Add game href -->
<p><a href="{% url 'add_game_keep' %}">Add keep game</a></p>
<p><a href="{% url 'add_game_wish' %}">Add wish game</a></p>
{% endif %}


{% if keep_list %}
<h3>Keep list</h3>
<ul>
  {% for game_item in keep_list %}
  <li>
    <a href="{% url 'gamelist_item' game_item.id %}">
    {{ game_item.game.name }}
    </a>
    {% if game_item.prop == 's' %} <span class="badge badge-secondary">for sell</span>{% endif %}
    {% if not game_item.active %}<span class="badge badge-warning">inactive</span> {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if wish_list %}
<h3>Wish list</h3>
<ul>
  {% for game_item in wish_list %}
  <li>
    <a href="{% url 'gamelist_item' game_item.id %}">
    {{ game_item.game.name }}
    </a>
    {% if game_item.prop == 'b' %} <span class="badge badge-secondary">ready to buy</span>{% endif %}
    {% if not game_item.active %}<span class="badge badge-warning">inactive</span> {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if sell_list %}
<h3>Sell list</h3>
<ul>
  {% for game_item in sell_list %}
  <li>
    <a href="{% url 'gamelist_item' game_item.id %}">{{ game_item.game.name }}
    </a>
    {% if not game_item.active %}<span class="badge badge-warning">inactive</span> {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if buy_list %}
<h3>Buy list</h3>
<ul>
  {% for game_item in buy_list %}
  <li>
    <a href="{% url 'gamelist_item' game_item.id %}">{{ game_item.game.name }}
    </a>
    {% if not game_item.active %}<span class="badge badge-warning">inactive</span> {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
