{% extends "switchdeck/_base.html" %}
{% load crispy_forms_tags %}

{% block title %}SwitchDeck: Add game{% endblock %}

{% block content %}
{% if prop == 'k' %}
<h2>Add game in your library</h2>
<form class="" action="{% url 'add_game_keep'  %}" method="post">
{% elif prop == 'w' %}
<h2>Add game to you wish list</h2>
<form class="" action="{% url 'add_game_wish'  %}" method="post">
{% else %}
<form class="" action="{% url 'add_game'  %}" method="post">
{% endif %}
  {% csrf_token %}
  {{form|crispy}}
  <input type="submit" name="submit" class="btn btn-primary">
</form>

{% endblock %}
