{% extends "switchdeck/_base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}SwitchDeck lot# {{ object.id }} {% endblock %}

{% block content %}

<!-- Gamelist item info -->
<a href="{{ object.profile.get_absolute_url }}">
  {{ object.profile.get_username }}
</a>
{{ object.get_prop_display }}
<a href="{{ object.game.get_absolute_url }}">
  {{ object.game.name }}
</a>
{% if object.prop == 'b' or object.prop == 's' %}
 for {{ object.price }}
 {% if user.is_authenticated and user == object.profile.user %}
 <!-- Change price modal -->
 <button type="button" class="badge badge-primary" data-toggle="modal" data-target="#changePriceModal">
   Change price
 </button>
 <div class="modal fade" id="changePriceModal" tabindex="-1" role="dialog" aria-labelledby="changePriceModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="changePriceModalLabel">Change Price</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <form action="{% url 'change_price' object.id %}" method="post" id="change_price_form">
           {% csrf_token %}
           {{ change_price_form|crispy }}
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">
           Close
         </button>
         <input class="btn btn-primary" type="submit" form="change_price_form">
       </div>
     </div>
   </div>
 </div>
 {% endif %}
{% endif %}

{% if object.change_to.count > 0 %}
<h3>Change to list</h3>
<ul>
  {% for gl in object.change_to.all %}
  <li><a href="{{ gl.get_absolute_url }}">{{ gl.game.name }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if object.ready_change_to.count > 0 %}
<h3>ready to change to</h3>
<ul>
  {% for gl in object.ready_change_to.all %}
  <li><a href="{{ gl.get_absolute_url }}">{{ gl.game.name }}</a></li>
  {% endfor %}
</ul>
{% endif %}

<!-- Change-to button -->
{% if user.is_authenticated and user == object.profile.user %}
<p><a href="{% url 'gamelist_change_to' object.id%}" class="btn btn-primary">Set changing</a></p>
{% endif %}

 <p>{{object.desc}}</p>
 {% if user.is_authenticated and user == object.profile.user %}
  <button type="button" class="badge badge-primary" data-toggle="modal" data-target="#changeDescModal">
    Change decription
  </button>

  <!-- Change description modal -->
  <div class="modal fade" id="changeDescModal" tabindex="-1" role="dialog" aria-labelledby="changeDescModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="changeDescModalLabel">Change Description</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'change_description' object.id %}" method="post" id="change_desc_form">
            {% csrf_token %}
            {{ change_desc_form|crispy }}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <input class="btn btn-primary" type="submit" form="change_desc_form">
        </div>
      </div>
    </div>
  </div>
  <p>
    {% if object.active %}
    <small>This is now <b>active</b></small>
    <a href="{% url 'change_deactivate' glid=object.id %}" class="badge badge-primary">Deactivate</a>
    {% else %}
    <small>This is now <b>inactive</b></small>
    <a href="{% url 'change_activate' glid=object.id %}" class="badge badge-primary">Activate</a>
    {% endif %}
  </p>
 {% endif %}

<p>Added {{object.public_date}}</p>
<!-- Delete button -->
{% if user.is_authenticated and user == object.profile.user %}

<!--Set buttons-->
<div class="btn-group" role="group" aria-label="Set button group">
  {% if object.prop != 'k' %}
  <a class="btn btn-outline-primary"
    href="{% url 'set_game_to_keep' glid=object.id %}">Set to keep</a>
  {% endif %}
  {% if object.prop != 's' %}
  <a class="btn btn-outline-primary"
    href="{% url 'set_game_to_sell' glid=object.id %}">Set to sell</a>
  {% endif %}
  {% if object.prop != 'b' %}
  <a class="btn btn-outline-primary"
    href="{% url 'set_game_to_buy' glid=object.id %}">Set to buy</a>
  {% endif %}
  {% if object.prop != 'w' %}
  <a class="btn btn-outline-primary"
    href="{% url 'set_game_to_wish' glid=object.id %}">Set to wish</a>
  {% endif %}
</div>
<button type="button" class="btn btn-danger" onclick="delete_func()">Delete</button>
<script type="text/javascript">
  function delete_func() {
    var answer = confirm("Delete {{object.game.name.title}}.\nAre you sure?")
    if (answer == true) {
      window.location.replace("{% url 'delete_game' object.id %}")
    }
  }
</script>
{% endif %}

{% if object.prop != 'k' and object != 'w' %}
  <!-- Comments list -->
  <p>Comments</p>
  {% if comments %}
    {% for comment in comments %}
    <div class="card" id="comment_{{comment.id}}">
      <div class="card-header">
        <a href="{{ comment.author.get_absolute_url }}">
          {{ comment.author.get_username }}</a>
      </div>
      <div class="card-body">
        {{ comment.text }}
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ comment.timestamp | naturaltime }}</small>
        {% if comment.author.user == user %}
          <a class="btn btn-danger btn-sm float-right"
            name="delete-comment-button"
            href="{% url 'delete_comment' comment.id %}?next={{ request.path }}">
            Delete comment
          </a>
        {% endif %}
      </div>
    </div>
    <br>

    {% endfor %}
  {% endif %}
  <!-- Pagination -->
  {% if comments.paginator.num_pages > 1 %}
    {% include "switchdeck/_pagination.html" with page_obj=comments %}
  {% endif %}

  <!--Add a comment -->
  {% if user.is_authenticated %}
    <form action="{% url 'gamelist_item' object.id %}" method="post">
      {% csrf_token %}
      {{ form| crispy }}
      <br>
      {% if objects_per_page %}
      <input type="hidden" name="objects_per_page" value="{{ objects_per_page }}">
      {% endif %}
      <input type="submit" class="btn btn-primary">
    </form>
  {% endif %}
{% endif %}

{% endblock %}
