{% extends "switchdeck/_base.html" %}

{% block title %}SwitchDeck: {{game.name}}{% endblock %}

{% block admin_link %}<li>
  <a class="btn btn-outline-danger" href="{% url 'admin:switchdeck_game_change' game.id%}">
    Change on admin site
  </a>
</li>
{% endblock %}

{% block content %}

<div class="media">
  {% if game.cover %}
  <img class="mr-3" src="{{ game.cover.url }}" alt="{{ game.name }} cover"
  width="400">
  {% endif %}
  <div class="media-body">
    <h5 class="mt-0">{{ game.name }}</h5>
    {{ game.description }}
    {% if game.eshop_url %}
    <p><a href="{{game.eshop_url}}">Link to eshop</a></p>
    {% endif %}
  </div>
</div>

{% if sell_list %}
<a href="{% url 'game_sell_list' game.id%}">
  Sell list: {{sell_list_count}} lots</a>
<ul>
  {% for item in sell_list %}
  <li><a href="{{item.get_absolute_url}}">{{item}}</a></li>
  {% endfor %}
</ul>
<p><a href="{% url 'game_sell_list' game.id%}">more</a></p>
{% endif %}
{% if buy_list %}
<p><a href="{% url 'game_buy_list' game.id%}"></p>
  Buy list: {{buy_list_count}} lots</a>
<ul>
  {% for item in buy_list %}
  <li><a href="{{item.get_absolute_url}}">{{item}}</a></li>
  {% endfor %}
</ul>
<p><a href="{% url 'game_buy_list' game.id %}">more</a></p>
{% endif %}

{% endblock %}
