{% extends "switchdeck/_base.html" %}

{% block title %}SwitchDeck{% endblock %}

{% block content %}
{% if games %}
<div class="row">
  {% for game in games %}
  <div class="col-md-4">
    <div class="card">
      {% if game.cover %}
      <a href="{{game.get_absolute_url}}">
        <img class="card-img-top" src="{{game.cover.url}}"
          alt="{{ game.name }} cover">
      </a>
      {% endif %}
      <div class="card-body">
        <div class="card-text">
          <a  href="{{game.get_absolute_url}}">{{ game.name|title }}</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
