{% load i18n %}
<!-- Pagination -->
<nav aria-label="pagination">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page=1{% if objects_per_page %}&objects-per-page={{ objects_per_page }}{% endif %}">
        &laquo; {% trans "first" %}
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number}}{% if objects_per_page %}&objects-per-page={{ objects_per_page }}{% endif %}">
        {% trans "previous" %}
      </a>
    </li>
    {% endif %}
    <span class="page-link">
      {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{page_obj.next_page_number}}{% if objects_per_page %}&objects-per-page={{ objects_per_page }}{% endif %}">
        {% trans "next" %}
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{page_obj.paginator.num_pages}}{% if objects_per_page %}&objects-per-page={{ objects_per_page }}{% endif %}">
        {% trans "last" %} &raquo
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
