{% extends 'switchdeck/_base.html' %}
{% load i18n %}

{% block title %}{{object.name.title }} | Switchdeck{% endblock %}

{% block admin_link %}<li>
  <a class="btn btn-outline-danger" href="{% url 'admin:switchdeck_place_change' object.id%}">
    {% trans "Change on admin site" %}
  </a>
</li>
{% endblock %}

{% block content %}
<h1>{{ object.name.title }}</h1>
{% if profiles %}
<h3>Users</h3>
<ul>
  {% for profile in profiles %}
  <li><a href="{{ profile.get_absolute_url }}">{{ profile.get_username }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if sell_list %}
<h3>Sell list</h3>
<ul>
  {% for lot in sell_list %}
  {% include "switchdeck/_lot_card.html" %}
  {% endfor %}
</ul>
{% endif %}

{% if buy_list %}
<h3>Buy list</h3>
<ul>
  {% for lot in buy_list %}
  {% include "switchdeck/_lot_card.html" %}
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
