{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Set game" %} | SwitchDeck{% endblock %}

{% block content %}
<h2>Wanna set {{ lot.game.name}} to {{set_prop}}?</h2>
<p>Edit description and price</p>

<form class="" action="
{% if prop == 's' %}{% url 'set_game_to_sell' %}
{% elif prop == 'b' %}{% url 'set_game_to_buy' %}{% endif %}"
method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" name="submit" class="btn btn-primary">

</form>
{% endblock %}
