{% load i18n %}
<div class="card mb-3" style="max-width:540px" id="card_lot_{{ lot.pk }}">
  <div class="row no-gutters">
    <div class="col-md-4">
      {% if lot.game.cover %}
      <img src="{{ lot.game.cover.url }}"
        alt="{{ lot.game.name }} {% trans "cover" %}"
        class="card-img"
        >
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-header
      {% if lot.prop == 'k' %}
      bg-succsess
      {% elif lot.prop == 'w' %}
      bg-primary
      {% elif lot.prop == 's' %}
      bg-danger
      {% elif lot.prop == 'b' %}
      bg-warning
      {% endif %}">
        <a href="{{ lot.get_absolute_url }}"
          {% if not lot.prop == 'b' %}class="text-white"{% else %}class="text-dark"{% endif %}>
          {{ lot.game.name }}
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <a href="{{ lot.profile.get_absolute_url }}">
            {{ lot.profile.get_username }}
          </a>
          {{ lot.get_prop_display }}
          {% if lot.prop == 's' or lot.prop == 'b' %}
          for {{lot.price}}
          {% endif %}
        </h5>
        <p class="card-text">{{ lot.description }}</p>
        <a href="{{ lot.get_absolute_url }}" class="btn btn-primary">{% trans "View more" %}</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          {% trans "Added" %} {{ lot.public_date }}
        </small>
      </div>
    </div>
  </div>
</div>
