{% extends "switchdeck/_base.html" %}
{% load i18n %}

{% block title %}{{game.name}} | SwitchDeck{% endblock %}

{% block admin_link %}<li>
  <a class="btn btn-outline-danger" href="{% url 'admin:switchdeck_game_change' game.id%}">
    {% trans "Change on admin site" %}
  </a>
</li>
{% endblock %}

{% block content %}

<div class="media">
  {% if game.cover %}
  <img class="mr-3" src="{{ game.cover.url }}" alt="{{ game.name }} cover"
  width="400">
  {% endif %}
  <div class="media-body">
    <h5 class="mt-0">{{ game.name }}</h5>
    {{ game.description }}
    {% if game.eshop_url %}
    <p><a href="{{game.eshop_url}}">{% trans "Link to eshop" %}</a></p>
    {% endif %}
  </div>
</div>

{% if sell_list %}
<a href="{% url 'game_sell_list' game.slug%}">
  Sell list: {{sell_list_count}} lots</a>
{% for lot in sell_list %}
{% include 'switchdeck/_lot_card.html'%}
{% endfor %}
<p><a href="{% url 'game_sell_list' game.slug%}" class="btn btn-primary">{% trans "more..." %}</a></p>
{% endif %}
{% if buy_list %}
<p><a href="{% url 'game_buy_list' game.slug%}"></p>
  Buy list: {{buy_list_count}} lots</a>
{% for lot in buy_list %}
{% include 'switchdeck/_lot_card.html'%}
{% endfor %}
<p><a href="{% url 'game_buy_list' game.slug %}" class="btn btn-primary">{% trans "more..." %}</a></p>
{% endif %}

{% endblock %}
